main {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.configTitle {
  text-align: center;
}

main img {
  object-fit: contain;
  image-rendering: revert;
  padding: 2vh 25vw;
}

form {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}
