.titlebar {
  font-family: 'Ubuntu';
  display: flex;
  width: 100vw;
  height: 5vh;
  color: white;
  background-color: rgba(32, 34, 37, 1);
  align-items: center;
  padding-left: 4vw;
}

.titlebar h1 {
  width: calc(100vw - 60px);
  font-size: 14px;
  font-weight: normal;
  display: flex;
}

.titlebar .buttons {
  width: 50px;
  display: flex;
  justify-content: space-around;
}
